body {
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  background: linear-gradient(
    to bottom,
    #959595 0%,
    #0d0d0d 46%,
    #010101 50%,
    #0a0a0a 53%,
    #4e4e4e 76%,
    #383838 87%,
    #1b1b1b 100%
  );
}

#drum-machine {
  padding-top: 40px;
  max-width: 800px;
}

#display {
  background: #6c7272;
  border: 0.2em solid red;
  border-radius: 0.5em;
  margin: 0 auto;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  width: 99vmin;
  height: calc(100vh -4em);
  text-align: center;
}

#buttons {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  width: 100vmin;
  height: calc(100vh - 4em);
  grid-gap: 0.8em;
  margin: 0 auto;
  padding: 0.5em;
  border: 0.2em solid red;
  box-sizing: border-box;
  border-radius: 0.5em;
  transition: all 0.3s ease;
}

.drum-pad {
  display: inline-block;
  padding: 6px 20px;
  margin: 0;
  cursor: pointer;
  border: 1px solid black;
  overflow: visible;
  font: bold 27px arial, helvetica, sans-serif;
  text-decoration: none;
  white-space: nowrap;
  color: #fff;
  background-color: #000; 
  background-clip: padding-box;
  transition: background-color 0.2s ease-out;
  border-radius: 3px;
  box-shadow: 5px 5px 5px 0px rgba(222,7,7,1);  
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.9);
  user-select: none;
}

.drum-pad:focus {
  outline: 0;
}

.drum-pad:active {
  background: linear-gradient(to bottom, #45484d 0%, #000000 100%);
}
